#Footer {
  margin: 100px 0 0 0;
  height: 82px;
  background: #404149;
  .container {
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 0;
      h1 {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      }

      h2 {
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
      }
    }
  }
}